<h1><%= @theme %></h1>
<p>
  <span class="badge" style="background: <%= @theme.color %>"><%= @theme.color %></span>
</p>
<%= link_to "Edit this theme", edit_theme_path(@theme), class: 'btn btn-primary' %>