<% content_for :title, 'Exercices' %>

<div class="row">
  <% @years.each do |year| %>
    <div class="col-md-3">
      <%= link_to year, year %>
    </div>
  <% end %>
</div>

<%= link_to "New year", new_year_path %>
